.grey-bg {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
}

.color-white {
    color: #fff;
}

.post-author img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

a:hover {
    color: #6D6D6D;
}

p {
    color: #787878;
}

.header-title {
    font-weight: bold;
    color: #fff;
}
.header-subtitle {
    color: #fff;
    font-weight: 300;
}
.page-title {
      height: 550px;

}

section {
  position: relative;
  background-color: #fff;
  padding-bottom: 110px;
  z-index: 10;
}



.home-post {
       padding-top: 110px;
    padding-bottom: 110px;
}
.img-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.post-single {
      padding-bottom: 110px;
      padding-top:110px;
      font-family: 'Source Sans Pro', sans-serif !important;
      position: relative;
  background-color: #fff;
  padding-bottom: 110px;
  z-index: 10;
}

.post-single img {
    width: 100%;
    height: auto;
}