


<div  *ngFor="let blogPost of blogPosts">


<section id="particles-js" class="page-title parallax-section">
<nav id="navbar" class="">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="index.html">
                <img class="logo-light" src="https://www.archipel.id/img/assets/logo-light.png" alt="">
              </a>
            </div>
            <div class="menu-extras">
             
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                <li class="menu-item">
                  <a [routerLink]="['/']">Home</a>
                
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">About Us</a>
                    </li>
                    <li>
                      <a href="page-about-creative.html">About - Creative</a>
                    </li>
                    <li>
                      <a href="page-services.html">Services</a>
                    </li>
                    <li>
                      <a href="page-contact.html">Contact</a>
                    </li>
                    <li>
                      <a href="page-careers.html">Careers</a>
                    </li>
                    <li>
                      <a href="page-404.html">404 Page</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Masonry</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-masonry-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-grid-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Titles Outside</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-titles-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles-4col.html">Four Columns</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Work</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-single-1.html">Single Work 1</a>
                        </li>
                        <li>
                          <a href="portfolio-single-2.html">Single Work 2</a>
                        </li>
                        <li>
                          <a href="portfolio-single-3.html">Single Work 3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Blog</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-grid.html">Standard Grid</a>
                        </li>
                        <li>
                          <a href="blog-grid-sidebar.html">Sidebar Grid</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Standard</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog.html">Standard Layout</a>
                        </li>
                        <li>
                          <a href="blog-sidebar.html">Sidebar Layout</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Post</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-single.html">Standard Post</a>
                        </li>
                        <li>
                          <a href="blog-single-sidebar.html">Sidebar Post</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children has-megamenu last-elements">
                  <a href="#">Elements</a>
                  <ul class="submenu megamenu">
                    <li><a class="menu-label" href="#">Group 1</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-accordions.html">Accordions</a>
                        </li>
                        <li>
                          <a href="elements-buttons.html">Buttons</a>
                        </li>
                        <li>
                          <a href="elements-carousels.html">Carousels</a>
                        </li>
                        <li>
                          <a href="elements-forms.html">Forms</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 2</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-icons.html">Icons</a>
                        </li>
                        <li>
                          <a href="elements-icon-boxes.html">Icon Boxes</a>
                        </li>
                        <li>
                          <a href="elements-message-boxes.html">Message Boxes</a>
                        </li>
                        <li>
                          <a href="elements-pricing-tables.html">Pricing Tables</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 3</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-progress-bars.html">Progress Bars</a>
                        </li>
                        <li>
                          <a href="elements-galleries.html">Image Galleries</a>
                        </li>
                        <li>
                          <a href="elements-tabs.html">Tabs</a>
                        </li>
                        <li>
                          <a href="elements-typography.html">Typography</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children last-elements"><a href="#">Shop</a>
                  <ul class="submenu">
                    <li>
                      <a href="shop.html">Products</a>
                    </li>
                    <li>
                      <a href="shop-single.html">Single Product</a>
                    </li>
                    <li>
                      <a href="shop-cart.html">Cart</a>
                    </li>
                    <li>
                      <a href="shop-checkout.html">Checkout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

        <div class="row-parallax-bg">
          <div class="parallax-wrapper" style="transform: translate3d(0px, 0px, 0px);">
            <div class="parallax-bg" style="background-image: url(assets/img/dashboard.jpg);">
              
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title text-center">
                 <h6 class="color-white"><span><i class="fa fa-clock"></i>Posted on </span><span class="post-time">March 23, 2017 </span></h6>
                <h1 class="header-title">{{blogPost.title}}</h1>
                 <div class="post-author">
                        <img src="https://scontent.fsub2-1.fna.fbcdn.net/v/t1.0-9/13782219_1752403055032175_4714217242329715703_n.jpg?_nc_eui2=v1%3AAeFybJDjpYbfqBBGIDPb5WB_WZNS5QnviKuGlJCL2s35j644q4K3omlUNrHZGSUQ9GnSvJk23FOT7fdZBYbChGMMAq2nUOYxBJrAx8GdUxsTjpLib2-jwgfOE3-h_3dCBnE&oh=7a5f39072ce3ae91d79ae27bd4ea8b40&oe=59793AB8" alt=""><a href="post.title">By Agastya Darma Laksana</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


  <div class="container">
          <div class="row">
              <div class="col-md-10s col-md-offset-1">
                          <div class="post-single" [innerHTML]="blogPost.body"></div>

              </div>
          </div>

  </div>


</div>